[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
gitcommitlogger = "gitcommitlogger"

[packages]
gitcommitlogger = "*"
requests = "*"
pytz = "*"
python-dateutil = "*"

[dev-packages]

[requires]
python_version = "3"